<html>
@{
    Layout = null;
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
</head>
<body>
    <script type='text/javascript'>
        d3.select("body")
            .append("svg")
            .append("circle")
            .attr("fill", "red")
            .attr("r", 2)
            .attr("cx", "100")
            .attr("cy", "100");

    </script>
</body>
</html>